*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Open Sans";
}

/* utility */

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.btn{
    background-color: blue;
    color: white;
    border: 2px solid rgba(0, 0, 159, 0.602);
    text-decoration: none;
    padding: 6px 19px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 65px 0;
}

.container-section{
    max-width: 900px;
    margin: 150px auto;
}




.bg-lightskyblue{
    background-color: lightskyblue;
}

.flex-direction{
    flex-direction: column;
}

h2{
    font-size: 35px;
    margin-bottom: 60px;
}

.border{
    border: 1px solid grey;
}

.col-30{
    width: 30%;
    margin: 40px 0;
}

h3{
    padding-bottom: 13px;
    font-size: 18px;
}

.strong{
    font-weight: 10px;
}

.text-lightgrey{
    color: rgb(176, 176, 176);
}

h6{
    font-size: 12px;
}

.text-center{
    text-align: center;
}

.h-100{
    height: 100px;
    background-color: red;
}

.text-white{
    color: white;
}




/* header */

header{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.container-header{
    padding: 20px;
}

.content-header{
    column-gap: 65px;
}



header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    column-gap: 20px;
    padding: 0px 20px;
}



/* jumbotron */

h1{
    padding: 50px 0px;
    font-size: 80px;
}

.image-jumbotron{
    width: 800px;
    flex-grow: 1;
}

.box-left{
    flex-basis: 30%;
}

.box-left p, .box-left a{
    margin-bottom: 45px;
}

.box-left div{
    font-size: 45px;
}

.h-jumbotron{
    height: 775px;
}


/* seconda parte */


.container-section2{
    max-width: 900px;
    margin: 200px auto 0;
}

input{
    padding: 20px ;
}

.top-col30{
    text-align: center;
}

.bottom-col30{
    padding: 25px;
    line-height: 30px;
    font-size: 14px;
    height: 880px;
}


.bottom-col30 ul{
    list-style-type: none;
    list-style-position: inside;
}

.lista{
    padding: 48px 0px;
}


.single-text{
    margin: 20px 0
}

.border-top{
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}

hr{
    width: 47px;
    color: rgba(0, 0, 0, 0.39);
    margin-bottom: 20px;
}

/* terza parte */

.text-entreprise{
    padding-top: 35px;
    line-height: 20px;
}


.bottom-col100{
    padding: 25px;
    line-height: 30px;
    font-size: 14px;
    position: relative;
}

.btn-col100{
    position: absolute;
    top: 25px;
    right: 25px;
}

.image-partner{
    flex-grow: 1;
    width: 100px;
    padding-right: 70px;
}

.box-right{
    flex-basis: 30%;
}


.container-section3{
    max-width: 900px;
    margin: 15px auto;
}


/* quinta parte */

.wrap{
    flex-wrap: wrap;
}

.image-business{
    width: 100%;
}

.title-business{
    margin-bottom: 30px;
}

.btn-pt-quinta{
    background-color: white;
    color: black;
    border: 2px solid black;
    text-decoration: none;
    padding: 7px 0px;
    text-align: center;
    width: 62%;
    margin-top: 24px;
}


/* footer */
footer{
    background-color: rgb(30, 30, 30);
}

.container-footer{
    max-width: 1100px;
    margin: 0px auto;
    padding: 35px 0px;
    color: white;
}

footer ul{
    list-style-type: none;
}

footer ul li{
    padding: 14px 0px;
    font-size: 14px;
}

.title-footer{
    padding-bottom: 10px;
}


.gap{
    column-gap: 10px;
}

.hr-footer{
    width: 125px;
    color: white;
}

.content-footer{
    max-width: 1100px;
    margin: 0 auto;
}